:root{
    --color-fondo: #F5F5F5;
    --color-subfondo: #EAF2FD;
    --color-box: #FFFFFF;
    --color-text: #464646;
    --color-sombra: rgba(0, 0, 0, 0.25);
    --color-link: #2A7AE4;

    --font-family: 'Raleway';
}

html {
    background-color: var(--color-fondo);
    color: var(--color-text);
    font-family: var(--font-family);
}

a{
    color: var(--color-link);
}