/* Mobile */
section.banner {
    background-image: url(../../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: flex-end;
    padding: 1.2rem;
    width: 100%;
}

.banner__boton {
    background-color: var(--color-link);
    border: 1px solid var(--color-link);
    box-shadow: none;
    box-sizing: border-box;
    color: var(--color-box);
    cursor: pointer;
    height: 3rem;
    width: 10rem;
}