
.banner__texto {
    color: var(--color-box);
    line-height: 1.3;
}

.banner__texto__tittle {
    font-size: 1.5rem;
    font-weight: 600;
}

.banner__texto__description {
    margin-bottom: .4rem;
}